@media (max-width: 768px) {  
    .header{
        max-width: 708px;
        top: 30px;
    }
}

@media (max-width: 690px) {
    .header{
        max-width: 630px;
    }
    .logo{
        margin-left:30px;
    }

    .navigation{
        display: none;
    }
    
    .burger{
        display: block;
        margin-right: 30px;
    }
}

@media (max-width: 320px) {
    .header{
        max-width: none;
        min-width: 290px;
    }

    .logo{
        margin-left: 10px;
    }

    .burger{
        margin-right: 57px;
    }
}

