@media (max-width: 770px) {  
    .header{
        top: 30px;
    }
}

@media (max-width: 690px) {
    .header{
    }
    .logo{
        margin-left:30px;
    }

    .navigation{
        display: none;
    }
    
    .click{
        display: block;
        margin-right: 30px;
    }
}

@media (max-width: 320px) {
    .header{
        max-width: none;
        min-width: 290px;
    }

    .logo{
        margin-left: 10px;
    }

    .click{
        display: block;
    }

    .burger__navigation{
        display: flex;
    }
}

