@media (max-width: 1400px) {}

@media (max-width: 1200px) {
  .header {
    top: 30px;
  }
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }

  .navigation--mobile {
    display: flex;
  }

  .burger-button {
    display: flex;
    margin-right: 53px;
  }
}

@media (max-width: 576px) {
  .logo {
    margin-left: 10px;
  }
}