@media (max-width: 1400px) {}

@media (max-width: 1200px) {
  .header {
    top: 30px;
  }

  .hero{
    padding-top:120px;
  }
}

@media (max-width: 992px) {
  .hero__picture{
    width: 425px;
  }

  .hero-content__subheading {
    margin-top: -20px;
    margin-bottom: 22px;
  }
}

@media (max-width: 768px) {
  .header{
    margin:0;
    padding:0;
    margin-left:30px;
    margin-right:53px;
  }

  .logo {
    margin: 0;
    margin-left:10px;
  }

  .navigation {
    display: none;
  }

  .navigation--mobile {
    display: flex;
  }

  .burger-button {
    display: flex;
  }

  .burger-button--open{
   right: 53px;
  }

  .navigation__item{
    margin: 0;
    margin-bottom: 43px;
  }

  .navigation__item:last-child {
    margin: 0;
  }

  .navigation__list {
    flex-direction: column;
    font-family: 'Arial';
    font-style: normal;
    font-size: 32px;
    line-height: 51px;
    color: #FAFAFA;
    margin-top:152px;
  }

  .hero{
    flex-direction: column;
    padding-top:150px;
  }

  .hero__content{
    margin: 0 auto;
    margin-top: 150px;
  }

  .hero-content__subheading {
    margin-bottom: 42px;
  }

  .button{
    margin: 0 auto;
    margin-bottom:100px;
  }

  .hero__picture{
    margin: 0;
    margin-left:100px;
  }

  .about{
    padding-left:30px;
    padding-right:30px;
  }

  .about__content{
    flex-direction: column-reverse;
    align-items: center;
  }

  .about-content__text{
    margin-bottom: 80px;
  }

  .about__picture{
    height: 408px;
    width: 300px;
    margin: 0;
   
  }
}
  

@media (max-width: 576px) {
  .header{
    margin:0;
    margin-right:53px;
    padding: 0;
  }

  .logo {
    margin: 0;
    margin-left: 10px;
  }

  .logo-mobile{
    left:10px;
  }

  .hero-content{
    justify-content: center;
    align-items: center;
  }

  .button{
    margin-bottom:105px;
  }

  .hero{
    margin-left:10px;
    margin-right: 10px;
  }

  .hero-content__heading{
    width: 210px;
    text-align: center;
    font-size: 25px;
    line-height:32px;
  }

  .hero-content__subheading{
    text-align: center;
    width: 300px;
    font-size: 15px;
    line-height: 24px;
  }

  .hero__picture{
    margin-left:50px;
    height: 271.7px;
    width: 260px;
  }

  .about{
    padding-left:10px;
    padding-right: 10px;
  }

  .about__picture{
    height: 353px;
    width: 260px;
  }

  .about-content__text{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 42px;
  }

  .about-content__heading{
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    width: 200px;
    line-height: 32px;
  }

  .about-content__subheading{
    font-size: 15px;
  }



}