* {
  box-sizing: border-box;
}

body,
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  color: #545454;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* img {
  max-width: 100%;
} */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Arial";
  font-size: 15px;
  line-height: 24px;
  color: #cdcdcd;

  background: url(../images/hero/setka.png),
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  }

.header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  left: 0;
  right: 0;
  top: 60px;
  position: absolute;
}

.hiden{
visibility: hidden;
transition: 0.2s;
}

.new{
  margin-left: 10px;
  margin-top: 30px;
  position: absolute;
}

.burg {
  display: none;
  z-index: 3;
  transition: 0.2s;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__item {
  margin-right: 35px;
  border-bottom: 3px solid transparent;
}

.navigation__item:hover {
  border-bottom-color: #f1cdb3;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  color: #cdcdcd;
}

.burger{
  height: 100%;
  width:320px;
  display:fixed;
  position: fixed;
  right: -100%;
  top:0;
  transition: 1s;
  background-color: rgba(41, 41, 41, 1);
}

.active{
  right: 0;
  display:flex;
}

.burger__navigation{
  display: flex;
  margin: 0 auto;
  margin-top: 258px;
  margin-bottom: 245px;
}

.burger__item{
  margin-bottom: 40px;
}

.navigation__item:last-child{
  margin-bottom: 0;
}

.burger__list{
  text-align: center;
}

.burger__link{
  border-bottom: 3px solid transparent;
  font-family: 'Arial';
  font-style: normal;
  font-size: 32px;
  line-height: 51px;
  color: #FAFAFA;
}

.burger__link:hover{
  border-bottom-color: #F1CDB3;
}

.active{
  display: flex;
}

.open{
  transform: rotate(90deg);
}
