* {
  box-sizing: border-box;
}

body,
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  color: #545454;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* img {
  max-width: 100%;
} */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Arial";
  font-size: 15px;
  line-height: 24px;
  color: #cdcdcd;
}

.header {
  max-width: 1200px;
  display: flex;
  padding-left:40px;
  padding-right: 40px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;

  left: 0;
  right: 0;
  top: 60px;
  position: absolute;
}

.logo {
  display: block;
  opacity: 1;
  transition: .4s;
}

.logo--hidden {
  opacity: 0;
}

.logo--mobile {
  position: relative;
  max-width: 184px;
  margin-top: 30px;
  margin-left: 10px;
  opacity: 0;
  transition: 1s;
  transition-delay: 0.5s;
  top:30px;
}

.logo--transition {
  opacity: 1;
}

.burger-button {
  z-index: 5;
  transition: 1.1s;
  display: none;
  cursor: pointer;
}

.burger-button--open {
  transform: rotate(-180deg);
  position: fixed;
  right: 0px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation--mobile {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__item {
  margin-right: 35px;
  border-bottom: 3px solid transparent;
}

.navigation__item:hover {
  border-bottom-color: #f1cdb3;
}

.navigation__link:hover {
  color: #FAFAFA;
}

.navigation__item:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.navigation__link {
  color: #CDCDCD;
  ;
}

.mobile-menu {
  height: 100%;
  width: 320px;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: -100%;
  top: 0;
  transition: .71s;
  background-color: rgba(41, 41, 41, 1);
}

.mobile-menu--shadow {
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.3);
}

.mobile-menu--open {
  right: 0;
}

.wrapper {
  background: url(../images/header/grid.png),
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  margin: 0 auto;
}

.hero {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  align-items:center;
 
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 150px;
  margin: 0 auto;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  max-width: 460px;
}

.hero-content__heading {
  max-width: 310px;
  font-size: 44px;
  color: #FFFFFF;
  line-height: 57px;
  margin-bottom: 42px;
}

.hero-content__subheading {
  color: #CDCDCD;
  margin-bottom:42px;
}

.button {
  display: flex;
 
  padding: 15px 45px;
  gap: 10px;

  background: #F1CDB3;
  border-radius: 100px;
  transition: 1s;

  font-family: 'Georgia';
  font-style: normal;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
}

.button:hover {
  background: #FDDCC4;
  cursor: pointer;
}

.about{
  max-width: 1200px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}

.about__content{
  max-width: 845px;
  display: flex; 
  margin: 0 auto;
  margin-top: 80px;
  padding-bottom: 100px;
  justify-content: space-between
}

.about__picture{
  margin-right:40px;
}

.about-content__text{
  display: flex;
  flex-direction: column;
  max-width: 430px;
}

.about-content__heading{
  padding-top: 14px;
  max-width: 300px;
  padding-bottom:25px;
}

.about-content__subheading{
  color: #4C4C4C;
  padding-bottom:25px;
}

.about-content__subheading:last-child{
  padding-bottom: 0px
}

.ourfriends{
  background: #F6F6F6;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
}

.slider-wrapper{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 60px;
 
  align-items: center;
  justify-content: center;
}

.ourfriends__heading{
  text-align: center;
  width: 400px;
  margin:0 auto;
  padding-top: 80px;
  margin-bottom: 60px;
}
 
 .slider{
  margin: 0 auto;
  overflow: hidden;
  max-width: 990px;
  display: flex;
  align-items: center;
}

.slider__line{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position:relative;
  left: 0px;
  transition: 1s;
} 

.arrow-revers{
  width: 14px;  
  transform: rotate(180deg);
}

.arrow{
  width:auto;
}

.button--arrow{
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background-color: inherit;
  padding: 23px 19px;
  transition: 0.5s;
}

.button--arrow:hover{
  background: #FDDCC4;
}

.slider__card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FAFAFA;
  margin-left: 45px;
  margin-right: 45px;
}

.slider__card:first-child{
  margin-left: 0px;
}

.slider-card__card-name{
  font-family: 'Georgia';
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom:30px;
}

.slider-card__img{
  margin-bottom: 30px;
  border-radius: 9px 9px 0px 0px;  
}

.button-slider{
  background-color: #FAFAFA;
  border: 2px solid #F1CDB3;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #292929;

  align-items: center;
  margin-bottom: 30px;
  padding: 15px 45px;
  gap: 10px;
  border-radius: 100px;
  white-space:nowrap;
  margin-bottom: 30px;
}

.button-slider:hover{
  background: #FDDCC4;
}

.button--primary{
  margin: 0 auto;
  background: #F1CDB3;
  border: 0;
  margin-bottom: 100px;
  transition: 0.6s;
}

.button--primary:hover{
  background: #FDDCC4;
}

.profile-window__wrapper{
  display: none;
  position: fixed;
  background-color: #29292999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.profile-window--open{
  display: flex;
}

.profile-window{
  background-color: inherit;
  position:fixed;
  display: flex;
  left: 50%;
  top: 50%;
  margin-top: -252px;
  margin-left: -450px;
  flex-direction: column;
  align-items: flex-start;
  z-index: 3;
}


.profile-window__content{
  background: #FAFAFA;
  align-items: flex-start;
  margin: 0 auto;
  width: 900px;
  display:flex;
}

.profile-window__img{
  width: 500px;
}

.profile-window__description{
  flex-direction: column;
  width: 351px;
  margin-left:30px;
  margin-top:50px;

  font-family: 'Georgia';
  letter-spacing: 0.06em;
  font-style: normal;
  color: #000000;
}

.profile-window__heading{
  font-size: 35px;
  line-height: 45px;
  margin-bottom: 10px;
}

.profile-window__subheading{
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 40px;
}

.profile-window__story{
  font-size: 15px;
  line-height: 17px;
  margin-bottom: 40px
}

.profile-window__data{
  list-style-image: url(../images/our-friends/dot.svg);
  list-style-position: inside;
}

.button--close-window{
  background-color: rgb(0,0,0,0);
  margin-right: 0px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  width: 52px;
  height: 52px;
  z-index: 1;
  margin-right: -42px;
  margin-top: -52px;
}

.button--close-window:hover{
  cursor: pointer;
}
