*{
    box-sizing: border-box;
}

body, p, ul, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    color: #545454;
}

ul{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

html,
body{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Arial';
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
    background-color: black;
}

.wrapper{
    background: url(../images/hero/setka.png),
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    margin: 0 auto;
}

.header{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    left:0;
    right:0;
    top:60px;
    position: absolute;
}

.logo{
    margin-left:30px;
}

.img-logo{
    width: 184px;
}

.click{
    display: none;
    align-items: center;
}

.reverse{
    transform: rotate(90deg);
}


.click:hover{
    cursor: pointer;   
}

.burger{
    max-width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #FAFAFA;
}

.burger__navigation{
    display: none;
    margin: 0 auto;
    margin-top: 248px;
    gap:
}

.burger__item{
    margin-bottom: 40px;
}

.navigation__item:last-child{
    margin-bottom: 0;
}

.burger__list{
    text-align: center;
}

.burger__link{
    border-bottom: 3px solid transparent;
    font-family: 'Arial';
    font-style: normal;
    font-size: 32px;
    line-height: 51px;
    color: #FAFAFA;
}

.burger__link:hover{
    border-bottom-color: #F1CDB3;
}

.active{
    display: none;
}

.navigation{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 30px;
}

.navigation__list{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.navigation__item{
    margin-right: 35px;
    border-bottom: 3px solid transparent;
}

.navigation__item:hover{
    border-bottom-color: #F1CDB3;
}

.navigation__item:last-child{
    margin-right: 0;
}

.navigation__link{
    color: #CDCDCD;
}


@font-face {
    font-family: Arial;
    src: url(../fonts/ArialTh.ttf);
}
@font-face {
    font-family: Georgia;
    src: url(../fonts/georgia.ttf);
}
